@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

.swiper-container {
  display: flex !important;
  justify-content: space-between !important; /* Ensure slides have equal space */
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255) !important;
  /* color: #11111181; */
  width: 20px !important;
  height: 20px !important;
  position: absolute !important; /* Position absolute to move the buttons */
  bottom: -30px !important; /* Place the buttons below the slider */
}

.swiper-button-next {
  right: 10px !important; /* Adjust position */
}

.swiper-button-prev {
  left: 10px; /* Adjust position */
}
.swiper-pagination-bullet-active {
  background-color: #A01717 !important;
  scale: 130%;
}
