@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255) !important;
  width: 20px !important;
  height: 20px !important;
}

.swiper-button-next {
  right: 10px !important; /* Adjust position */
}

.swiper-button-prev {
  left: 10px; /* Adjust position */
}
